#############################
############ GYM ############
gym==0.21 # original
#############################
############ SB3 ############
# PIP INSTALL
# ORIGINAL
#stable-baselines3[extra,tests,docs]>=1.6.0
# FOR DOCKER INSTALL
git+https://github.com/a-rud/my-stable-baselines3@master#egg=stable_baselines3[extra,tests,docs]
# git+https://github.com/a-rud/my-stable-baselines3@master-multienv-her#egg=stable_baselines3[extra,tests,docs]
#####################################
############ SB3-CONTRIB ############
# sb3-contrib>=1.6.0 # original
git+https://github.com/a-rud/my-stable-baselines3-contrib@master#egg=stable_baselines3[extra,tests,docs]
# FOR DOCKER INSTALL
#git+https://github.com/a-rud/my-stable-baselines3-contrib@feat/new-gym-version#egg=sb3_contrib
###################################
############ PANDA-GYM ############
# PIP INSTALL
#panda-gym==1.1.1 # original - tmp fix: until compatibility with panda-gym v2
# panda-gym==2.0.0 # this release has no gym requires and should be v0.21 compatible
# I made changes, so download from my fork at v2.0.0 tag
git+https://github.com/a-rud/my-panda-gym@panda-gym-v2.0.0#egg=panda_gym
#panda-gym==2.0.2 # this release does not require gym<=0.23
# FOR DOCKER INSTALL
#git+https://github.com/a-rud/my-panda-gym@my-gym-0.24#egg=panda_gym[extra]
##############################
############ REST ############
box2d-py==2.3.8
pybullet
gym-minigrid
scikit-optimize
optuna
pytablewriter~=0.64
seaborn
pyyaml>=5.1
cloudpickle>=1.5.0
plotly
rliable>=1.0.5
wandb
ale-py==0.7.4 # tmp fix: until new SB3 version is released
huggingface_sb3>=2.2.1, <3.*
seaborn